<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <header th:fragment="ShopHeader">
            <a style="text-decoration: none; color: inherit;"  th:href="@{/}"><span class="title">IStore</span></a>

          <a th:href="@{/order/busket}" class="basket-ico">
                <div class="basket">

                      <span th:text="${@busket.counter}"></span>
                      <span>qty</span>
                      <span th:text="${@busket.sum}"></span>
                      <span>$</span>
                      <img src="https://cdn-icons-png.flaticon.com/512/1413/1413908.png">
                </div>
          </a>

        </header>
    </body>
</html>
