<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SneakerStore - add item</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/adminheader :: ShopHeaderAdmin"></header>

<div class="login-content">
    <div class="label">
        <h2>Add item </h2>
        <form th:action="@{/admin/add-item}" method="post">
            <div>
                <label>Nazwa</label>
                <input type="text" name="name" required>
            </div>
            <div>
                <label>Image URL</label>
                <input type="text" name="urlImage">
            </div>
            <div>
                <label >Cena</label>
                <input type="number" min="0.01" step="0.01" name="price" required>
            </div>
            <button type="submit">Add item</button>
        </form>
    </div>
</div>
</body>
</html>
