<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SneakerStore - admin</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="~{fragments/admin-header :: ShopHeaderAdmin}"></header>

  <div class="main-content">
    <div class="item" th:each="item : ${items}">
      <p class="item-name" th:text="${item.name}"></p>
      <img th:src="@{${item.urlImage}}">
      <div>
        <span>Price: </span>
        <span th:text="${item.price}"> </span>
        <span>$</span>
      </div>
      <a th:href="@{'/admin/edit-item/' + ${item.id}}" class="add-btn" style="color: #d4242d">Edit Item</a>
    </div>
  </div>
</body>
</html>