<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SneakerStore - edit item</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="~{fragments/admin-header :: ShopHeaderAdmin}"></header>

<div class="main-content">
    <div class="item-form">
        <h2>Edit item</h2>
        <form class="edit-form" th:action="@{/admin/edit-item}" th:object="${item}" method="post">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" th:field="*{id}" />
            <div class="form-row">
                <label for="newPrice">New Price:</label>
                <input type="text" id="newPrice" th:field="*{price}" />
            </div>
            <div class="form-row">
                <label for="newName">New Name:</label>
                <input type="text" id="newName" th:field="*{name}" />
            </div>
            <div class="form-row">
                <label for="newImageUrl">New Image URL:</label>
                <input type="text" id="newImageUrl" th:field="*{urlImage}" />
            </div>
            <button class="save-button" type="submit">Save</button>
        </form>
    </div>
    <div class="item-image">
        <h1 class="item-name" th:text="${item.name}"></h1>
        <img class="image-preview" th:src="@{${item.urlImage}}">
    </div>
    <div class="remove-item">
        <h2>Remove item</h2>
        <form th:action="@{'/admin/delete/' + ${item.id}}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="remove-button">Remove item permanently</button>
        </form>
    </div>
</div>
</body>
</html>