<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SneakerStore - basket</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header :: ShopHeader(sum=${sum}, quantity=${quantity})}"></header>

<div class="main-content">
    <div style="background-color: #f2f2f2; padding: 15px; width: 50%; display: flex; flex-direction: column; align-items: center;">
        <h1>Basket</h1>
        <table style="text-align: center;">
            <tr>
                <th style="width: 90px;"></th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Size</th>
                <th style="width: 30px;"></th>
            </tr>

            <tr style="background-color: white;" th:each="basketItem : ${basketItems}">
                <td>
                    <img style="width: 100%; height: auto;" th:src="@{${basketItem.item.urlImage}}">
                </td>
                <td th:text="${basketItem.item.name}"></td>
                <td style="display: flex; padding-top: 10px; align-items: center; flex-wrap: wrap; justify-content: space-around;">
                    <a style="text-decoration: none;"  th:href="@{'/sneaker-store/order/decrease/' + ${basketItem.item.id} + '/' + ${basketItem.size}}">-</a>
                    <p style="text-align: center;" th:text="${basketItem.counter}"></p>
                    <a style="text-decoration: none;" th:href="@{'/sneaker-store/order/increase/' + ${basketItem.item.id} + '/' + ${basketItem.size}}">+</a>
                </td>
                <td th:text="${basketItem.price}"></td>
                <td th:text="${basketItem.size}"></td>
                <td>
                    <a style="text-decoration: none;" class="mbtn" th:href="@{'/sneaker-store/order/remove/' + ${basketItem.item.id} + '/' + ${basketItem.size}}">X</a>
                </td>
            </tr>
        </table>
        <div>
            <h3><span>Summary: </span><span th:text="${sum}"></span>$</h3>
        </div>
        <a style="width: 50%;" th:href="@{/sneaker-store/order/summary}" class="add-btn">Checkout</a>
        <p th:if="${basketIsEmpty}" class="error-message" th:text="${basketIsEmpty}"></p>
    </div>
</div>
</body>
</html>
