<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IStore</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
    <body>
        <header>
            <span class="title">IStore</span>
            <a href="" class="basket-ico">
                <div class="basket">
                    <span>0 qty</span>
                    <span>0</span>
                    <span>$</span>
                    <img src="https://cdn-icons-png.flaticon.com/512/1413/1413908.png">
                </div>
            </a>

        </header>

        <div class="main-content">
            <div class="item" th:each="item : ${items}">
                <p class="item-name" th:text="${item.name}"></p>

                <img th:src="@{${item.urlImage}}">

                <div>
                    <span>Price: </span>
                    <span th:text="${item.price}"> </span>
                    <span>$</span>
                </div>

                <a href="" class="add-btn">Add to basket</a>

            </div>

        </div>
    </body>
</html>