<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SneakerStore</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header :: ShopHeader"></header>

<div class="main-content">
    <div class="item" th:each="item : ${items}">
        <p class="item-name" th:text="${item.name}"></p>
        <img th:src="@{${item.urlImage}}">
        <div>
            <span>Price: </span>
            <span th:text="${item.price}"> </span>
            <span>$</span>
        </div>
        <form th:action="@{'/sneaker-store/add/' + ${item.id}}" method="get">
            <select name="size">
                <option th:each="size : ${#numbers.sequence(35, 52)}" th:value="${size}" th:text="${size}"></option>
            </select>
            <button type="submit" class="add-btn">Add to basket</button>
        </form>
    </div>
</div>
</body>
</html>