<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SneakerStore - order history</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header :: ShopHeader(sum=${sum}, quantity=${quantity})}"></header>

<div class="main-content">
    <div class="order">
        <h1>Orders</h1>
        <table class="order-table">
            <thead>
            <tr>
                <th>Shipping Information</th>
                <th>Items</th>
                <th>Total Price</th>
                <th>Order Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td>
                    <span th:text="${order.firstName + ' ' + order.lastName}"></span><br>
                    <span th:text="${order.address}"></span><br>
                    <span th:text="${order.postCode}"></span><br>
                    <span th:text="${order.city}"></span>
                </td>
                <td>
                    <table>
                        <tr th:each="orderItem : ${order.orderItem}">
                            <td style="border: 0px;">
                                <span th:text="${orderItem.name}"></span>
                            </td>
                            <td style="border: 0px;" th:text="${orderItem.size + 'EU'}"></td>
                            <td style="border: 0px;"
                                th:text="${orderItem.price + '$' + ' x' + orderItem.quantity}"></td>
                        </tr>
                    </table>
                </td>
                <td th:text="${order.sum} + '$'"></td>
                <td th:text="${#temporals.format(order.created, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
