<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SneakerStore - order history</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header :: ShopHeader"></header>

<div class="main-content">
    <div style="background-color: #f2f2f2; padding: 15px; width: 90%; height: auto; display: flex; flex-direction: column; align-items: center;">
        <h1>Orders</h1>
        <table class="order-table">
            <thead>
            <tr>
                <th>Address</th>
                <th>Post Code</th>
                <th>City</th>
                <th>Order Date</th>
                <th>Items</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.address}"></td>
                <td th:text="${order.postCode}"></td>
                <td th:text="${order.city}"></td>
                <td th:text="${order.created}"></td>
                <td colspan="3">
                    <table class="order-details-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Size</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderItem : ${order.orderItems}">
                            <td>
                                <span th:each="item : ${items}" th:if="${item.id == orderItem.itemId}" th:text="${item.name}"></span>
                            </td>
                            <td th:text="${orderItem.amount}"></td>
                            <td th:text="${orderItem.size + 'EU'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td th:text="${order.sum} + '$'"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
