<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header :: ShopHeader"></header>

<div class="main-content">
    <div class="summary-left">
        <table class="summary-table">
            <tr th:each="busketItem : ${@busket.busketItem}">
                <td><img class="product-image" th:src="@{${busketItem.item.urlImage}}"></td>
                <td class="product-name" th:text="${busketItem.item.name}"></td>
                <td class="product-quantity"><p th:text="${busketItem.counter}"></p> qty.</td>
                <td class="product-price" th:text="${busketItem.price}"></td>
            </tr>
        </table>
    </div>

    <div class="summary-right">
        <div class="summary-box">
            <p class="total-cost"><span>Total cost: </span><span th:text="${@busket.sum}"></span>$</p>

            <form class="order-form" th:action="@{/sneaker-store/order/save-order}" method="post">
                <label>Name</label>
                <input type="text" name="firstName" required>
                <label>Surname</label>
                <input type="text" name="lastName" required>
                <label>Address</label>
                <input type="text" name="address" required>
                <label>Post code</label>
                <input type="text" name="postCode" required>
                <label>City</label>
                <input type="text" name="city" required>
                <button class="submit-button" type="submit">Submit order</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>